<div class="row">
  <div class="col-md-6">
    <% if @stylists.any?() %>
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <th>Stylist Name</th><th>Specialty</th>
          <% @stylists.each() do |stylist| %>
            <tr>
              <td><a href="/stylists/<%= stylist.id() %>/edit"><%= stylist.name() %></a></td>
              <td><%= stylist.specialty() %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <a href="/stylists/new"><button class="btn btn-primary" type="button" name="add_stylist">Add Another Stylist</button></a>
  </div>
  <div class="col-md-6">
    <img class="img-responsive img-rounded" src="/img/stylists-style.jpg" alt="close up image of a clown face with red nose">
  </div>
    <% else %>
      <h3>Oh snap! there aren't any stylists in the database yet</h3>
      <a href="/stylists/new"><button class="btn btn-primary" type="button" name="add_stylist">Start Adding Stylists</button></a>
  </div>
  <div class="col-md-6">
    <img class="img-responsive img-rounded" src="/img/no-stylists.jpg" alt="close up image of a clown face with red nose">
  </div>
</div>
<% end %>
