<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chemical Exposures Hair Salon</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/lumen/bootstrap.min.css" charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css" charset="utf-8">
  </head>
  <body>
    <div class="container">
      <div class="hero">
        <img class="img-responsive" src="/img/chemical-exposures-hero.jpg" alt="crazy hair; crazy company; crazy man with white powder on his face">
      </div>
      <div class="top-heading">
        <h1>Chemical Exposures Hair Salon Admin Portal</h1>
      </div>
      <%= yield %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>
