.top-heading {
  text-align: center;
  background-color: rgb(255, 102, 96);
  padding: 40px 0;
  margin-bottom: 50px;
}
.top-heading h1, .mid-heading h1, .home-link h1 {
  font-size: 4rem;
  color: #fff;
  font-weight: bolder;
}
h3 {
  font-size: 2.75rem;
}
h4 {
  font-size: 2.125rem;
}
.mid-heading {
  text-align: center;
  background-color: rgb(21, 140, 186);
  padding: 40px 0;
  margin: 50px 0px;
}

.home-link {
  text-align: center;
  background-color: rgb(115, 173, 33);
  padding: 40px 0;
  margin: 50px 0px;
}

div.home-link:hover {
  background-color: rgbA(115, 173, 33, .8);
}

a:hover {
  text-decoration: none;
}
